body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

header {
    background-color: #5EA47B;
    height: 10vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.logo{
    width: auto;
    height: auto;
}

h1{
    font-size: 3vw;
    align-self: center;
    max-width: 11vw;
    padding: 0.5em;
    margin: 1rem;
}

h2{
    text-align: center;
}

.box {
    border: none;
    margin: 0.5em;
    border-left: solid #ffffff 1px;
}

ul {
    margin: 0px;
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

a {
    display: block;
    display: grid;
    width: 12vw;
    height: 6vh;
    place-content: center;
    color: black;
    font-size: 1.5vw;
    text-decoration: none;
    border: solid #BBEEB1 1px;
    border-radius: 5px;
    background-color: #BBEEB1;
}

main {
    display: flex;
    background-color: #F0FFF4;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.fifa{
    scale: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2{
    text-align: center;
    font-size: 5em;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 2em;
    width: 90%;
    margin: auto;
}

td{
    padding: 1rem;
}

.top1 {
    background-color: yellow;
}

.top2 {
    background-color: gray;
}

.top3 {
    background-color: brown;
}

article {
    border: 1px #BDF0CC solid;
    background-color: #BDF0CC;
    flex-basis: 90%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 18px;
    font-size: 1.3vw;
}



footer {
    background-color: #C9FEDF;
    height: 10vh;
    display: grid;
    justify-content: center;
    place-content: center;
    font-size: 2em;
}