body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

a:hover{
    scale: 110%;
}

header {
    background-color: #467C5C;
    height: 10vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.logo{
    width: auto;
    height: auto;
    margin-right: 1vw;
}

h1{
    font-size: 2vw;
    align-self: center;
    max-width: 12vw;
    margin-right: 1vw;
}

.box {
    border: none;
    margin: 0.5em;
    border-left: solid #ffffff 1px;
}

ul {
    margin: 0px;
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: space-around;
}

li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    color: white;
}

a {
    display: block;
    display: grid;
    width: 12vw;
    height: 6vh;
    place-content: center;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    border-radius: 18px;
    background-color: #467C5C;
}

h2{
    text-align: center;
    font-size: 2vw;
    margin-top: 5vh;
}

main {
    background-color: #F0FFF4;
    height: 80vh;
    display: grid;
    justify-content: center;
    place-content: center;
}

form{
    margin-bottom: 5vh;
}

fieldset{
    border-radius: 20px;
    border: none;
}

textarea{
    height: 55vh;
    width: 40vw;
    background-color: #467C5C;
    color: white;
    font-size: 3vh;
    border-radius: 20px;
    border: 1px solid white;
}

label{
    font-size: 2vh;
}

.name{
    margin-left: 22.5vw;
}

#name{
    margin-left: 9.5vw;
}

#btn{
    background-color: #467C5C;
    color: #ffffff;
    border-radius: 20px;
    width: 20vw;
    height: 3vh;
    font-size: 2vh;
    padding: 0;
    margin: 0;
    
}

#reset{
    background-color: #467C5C;
    color: #ffffff;
    border-radius: 20px;
    width: 20vw;
    height: 3vh;
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

#btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

#reset:hover {
    cursor: pointer;
    text-decoration: underline;
}

::placeholder { 
    color: rgb(197, 194, 194);
    opacity: 2; 
  }
  
  :-ms-input-placeholder {
    color: white;
    opacity: 2; 
  }
  
  ::-ms-input-placeholder {
    color: white;
    opacity: 2; 
  }

input{
    background-color: #467C5C;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 2vh;
    padding: 0.5em;
    
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    background-color: #467C5C;
    color: white;
    height: 10vh;
    display: grid;
    justify-content: center;
    place-content: center;
    font-size: 2em;
}